# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

.editorconfig

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

/.vscode
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Node modules
/node_modules